@model IEnumerable<Patronus.Models.Oeuvre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAjout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAPI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOeuvre.LabelType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAjout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAPI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOeuvre.LabelType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOeuvre }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOeuvre }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOeuvre })
        </td>
    </tr>
}

</table>
