@model Patronus.Models.Recommandation
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @{ Html.RenderAction("SearchPattern","Search");}
</div>

<div class="row">
    <div class="col-md-1"></div>
    @if (Model.Movies.Any())
    {
        <div class="jumbotron">
            <div class="row">
                <h3><span class="glyphicon glyphicon-blackboard"></span>  Les meilleurs films</h3>
                @foreach (var oeuvre in Model.Movies)
                {
                    <div class="col-md-2 col-xs-2 col-lg-2 text-center">
                        <img src="@oeuvre.UrlImage" class="img-thumbnail" />
                        <label class="center-block">@oeuvre.Label</label>
                        <div class="row bottom">
                            @for (int j = 0; j < oeuvre.mean; j++)
                            {
                                
                                <span class="glyphicon-star" style="background: goldenrod"></span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.Series.Any())
    {
        <div class="row">
            <h3><span class="glyphicon glyphicon-blackboard"></span>  Les meilleurs albums</h3>
            @foreach (var oeuvre in Model.Series)
            {
                <div class="col-md-2 col-xs-2 col-lg-2 text-center">
                    <img src="@oeuvre.UrlImage" class="img-thumbnail"/>
                    <label class="center-block">@oeuvre.Label</label>
                    <div class="row bottom">
                        @for (int j = 0; j < oeuvre.mean; j++)
                        {
                            if (j + 1 > oeuvre.mean)
                            {
                                <div class="restStar" style="width:10px; height: 100%; display: inline-block; overflow: no-display" >
                                    <span class="glyphicon glyphicon-star" style="color: goldenrod; width:10px;"></span>
                                </div>
                            }
                            else
                            {
                                <div style="width: 10px; height: 100%; display: inline-block" >
                                    <span class="glyphicon glyphicon-star" style="color: goldenrod;width:10px"></span>
                                </div>
                            }
                                   

                        }
                        @oeuvre.mean / 5
                    </div>
                </div>
            }
        </div>
    }
    @if (Model.Albums.Any())
    {
        <div class="row">
            <h3><span class="glyphicon glyphicon-equalizer"></span>  Les meilleurs albums</h3>
            @foreach (var oeuvre in Model.Albums)
            {
                <div class="col-md-2 col-xs-2 col-lg-2 text-center">
                    <img src="@oeuvre.UrlImage" class="img-thumbnail"/>
                    <label class="center-block">@oeuvre.Label</label>
                    <div class="row bottom">
                        @for (int j = 0; j < oeuvre.mean; j++)
                        {
                            if (j + 1 > oeuvre.mean)
                            {
                                <div class="restStar" style="width:10px; height: 100%; display: inline-block; overflow: no-display" >
                                    <span class="glyphicon glyphicon-star" style="color: goldenrod; width:10px;"></span>
                                </div>
                            }
                            else
                            {
                                <div style="width: 10px; height: 100%; display: inline-block" >
                                    <span class="glyphicon glyphicon-star" style="color: goldenrod;width:10px"></span>
                                </div>
                            }
                                   

                        }
                        @oeuvre.mean / 5
                    </div>
                </div>
            }
        </div>
    }
    @if (Model.Tracks.Any())
    {
        <div class="row">
            <h3><span class="glyphicon glyphicon-headphones"></span>  Les oeuvres les plus populaires</h3>
        @foreach (var oeuvre in Model.Tracks)
        {
            <div class="col-md-2 col-xs-2 col-lg-2 text-center">
                <img src="@oeuvre.UrlImage" class="img-thumbnail"/>
                <label class="center-block">@oeuvre.Label</label>
                <div class="row">
                    @for (int j = 0; j < oeuvre.mean; j++)
                    {
                        if (j + 1 > oeuvre.mean)
                        {
                            <div class="restStar" style="width:10px; height: 100%; display: inline-block; overflow: no-display" >
                                <span class="glyphicon glyphicon-star" style="color: goldenrod; width:10px;"></span>
                            </div>
                        }
                        else
                        {
                            <div style="width: 10px; height: 100%; display: inline-block" >
                                <span class="glyphicon glyphicon-star" style="color: goldenrod;width:10px"></span>
                            </div>
                        }
                                   

                    }
                    @oeuvre.mean / 5
                </div>
            </div>
        }
        </div>
    }
    @if (Model.BestNote.Any())
    {
        <div class="row">
            <h3><span class="glyphicon glyphicon-star"></span>  Les oeuvres les plus populaires</h3>
             @foreach (var oeuvre in Model.BestNote)
            {
                <div class="col-md-2 col-xs-2 col-lg-2 text-center">
                    <img src="@oeuvre.UrlImage" class="img-thumbnail"/>
                    <label class="center-block">@oeuvre.Label</label>
                   
                            <div class="row bottom">
                                @for (int j = 0; j < oeuvre.mean; j++)
                                {
                                    if (j + 1 > oeuvre.mean)
                                    {
                                        <div class="restStar" style="width:10px; height: 100%; display: inline-block; overflow: no-display" >
                                            <span class="glyphicon glyphicon-star" style="color: goldenrod; width:10px;"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="width: 10px; height: 100%; display: inline-block" >
                                            <span class="glyphicon glyphicon-star" style="color: goldenrod;width:10px"></span>
                                        </div>
                                    }
                                   

                                }
                                @oeuvre.mean / 5
                      </div>
                 </div>
                
            }
        </div>
    }
    else
    {
        <label> Aucune note pour l'instant ...</label>
    }
    <div class="col-md-1"></div>

</div>

