@model Patronus.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("SearchPattern", "Search", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.SearchChainOeuvres)
    <select name="filter">
        <option value="all">Tous</option>
        <option value="movie">Cinéma</option>
        <option value="music">Musique</option>
        <option value="artist">Artiste</option>
    </select>
    <input type="submit" value="Search" />
}
@if (Model.Oeuvres.Count > 0)
{
    <h2>Oeuvres</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date de création</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var oeuvre in Model.Oeuvres)
        {
            <tr>
                <td>
                    @oeuvre.Label
                </td>
                <td>
                    @oeuvre.DateCreation
                </td>
                <td>
                    @oeuvre.TypeOeuvre.LabelType
                </td>
                <td>
                    @Html.ActionLink("Détails", "Details", "Oeuvres", new { id = oeuvre.IdOeuvre }, null)
                </td>
            </tr>


        }
    </table>
}

@if (Model.Artistes.Count > 0)
{
    <h2>Artistes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Decription</th>
            </tr>
        </thead>
        @foreach (var oeuvre in Model.Artistes)
        {
            <tr>
                <td>
                    @oeuvre.FullName
                </td>
                <td>
                    @oeuvre.Description
                </td>
            </tr>


        }
    </table>

}

