@model Patronus.Models.SearchViewModel
@{
    ViewBag.Title = "Recherche";
}

@using (Html.BeginForm("SearchPattern", "Search", FormMethod.Post))
{
    <div class="search-form">
        <div class="row">
            <div class="col-sm-2 search-icon">
                <i class="fas fa-search"></i>
            </div>
            <div class="col-sm-8 search-text">
                @Html.TextBoxFor(model => model.SearchChainOeuvres, new { @class = "form-control" })
            </div>
            <div class="col-sm-2 search-type form-group">
                <select name="filter" class="form-control">
                    <option value="all">Tous</option>
                    <option value="movie">Cinéma</option>
                    <option value="music">Musique</option>
                    <option value="artist">Artiste</option>
                </select>
            </div>
        </div>
        <div class="search-button">
            <input type="submit" value="Rechercher" class="btn-primary btn" />
        </div>
    </div>
}
@if (Model.Oeuvres.Count > 0)
{
    <h2>Oeuvres</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Titre</th>
                <th>Date de création</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var oeuvre in Model.Oeuvres)
        {
            <tr>
                <td>
                    <img src=@oeuvre.UrlImage class="list-img" />
                </td>
                <td>
                    @oeuvre.Label
                </td>
                <td>
                    @oeuvre.DateCreation
                </td>
                <td>
                    @oeuvre.TypeOeuvre.LabelType
                </td>
                <td>
                    @Html.ActionLink("Détails", "Details", "Oeuvres", new { id = oeuvre.IdOeuvre }, null)
                </td>
            </tr>


        }
    </table>
}

@if (Model.Artistes.Count > 0)
{
    <h2>Artistes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Decription</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var oeuvre in Model.Artistes)
        {
            <tr>
                <td>
                    @oeuvre.FullName
                </td>
                <td>
                    @oeuvre.Description
                </td>
                <td>
                    @Html.ActionLink("Détails", "Details", "Artistes", new { id = oeuvre.IdArtiste},null)
                </td>
            </tr>


        }
    </table>

}

