@model IEnumerable<Patronus.Models.Artiste>

@{
    ViewBag.Title = "Liste des artistes";
}

<h2>Liste des artistes</h2>

<p>
    @Html.ActionLink("Ajouter un artiste", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayName("Prénom")
        </th>
        <th>
            @Html.DisplayName("Date de naissance")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.IdArtiste }) |
            @Html.ActionLink("Détails", "Details", new { id=item.IdArtiste }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.IdArtiste })
        </td>
    </tr>
}

</table>
